<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Core War Web | Game Lobbies</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Game lobbies</h1>
      <p>Hey <i><%= user.name %></i>, you will be soon able to create a lobby (an arena) and start a game from this page</p>
      <p>You can temporary go to an hard coded version of the <a href="/arena.html">arena</a></p>
    <% if (lobbies) {
      lobbies.forEach(function (lobby) { %>
        <p>Lobby: <i><%= lobby.name %></i>, max players: <i><%= lobby.maxPlayers %>  <a href="/lobbies.html/<%= lobby._id %>/view">Profile</a></i></p>
      <% });}
      %>
      <p>Add a lobby <a href="/addLobby.html">Add lobby</a></p>
      <p>Get back to <a href="/index.html">main page</a></p>
    <% } else { %>
      <h1>An error occured</h1>
        <p>Go back to the <a href="/index.html">main page</a></p>
    <% } %>
  </body>
</html>
