{
  "debug": true,
  "http": {
    "port": 8080,
    "hostname": "localhost",
    "session": {
      "name": "AnAwsomeSessionName",
      "secret": "AnAwsomeSecret"
    }
  },
  "database": {
    "name": "core-war-web",
    "host": "localhost",
    "port": 27017,
    "username": "dbUsername",
    "password": "dbPassword"
  }
}
